/* 清除浏览器默认边距，
使边框和内边距的值包含在元素的width和height内 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1b1b1b;
    border-bottom: 0.15rem solid #ffffff;

}

header .logos {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .logos>a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #ffffff;
}

header>.navigation {

    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: stretch;
    align-items: center;
}

header>.navigation-simplify {
    display: none;
}

header>.navigation-simplify>div>i {
    color: #fff;
    font-size: 1.7rem;
}

header>.navigation>div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12%;
    min-height: 80%;
    text-align: center;
    border: 0.2rem solid #1b1b1b;
}

header>.navigation>div a {

    text-decoration: none;
    color: #fff;
    font-weight: 550;
    letter-spacing: 0.2rem;
}

header .navigation>div:hover {

    background: rgba(114, 120, 158, 0.5);
    border-radius: 0.8rem;
}

header .navigation>div:hover>div {

    visibility: visible;
}

header .navigation>div>div {

    visibility: hidden;
    position: fixed;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20rem;
    width: 15rem;
    background: #030303da;
    border: 0.1rem solid #ffffffbe;
    border-radius: 0.5rem;
    justify-items: center;
    align-items: center;
}

header .navigation>div>div>div {
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}
header .navigation>div>div>div>div {
    width: 85%;
    border-left: 0.3rem  solid #fff;
}
  
header .navigation>div>div>div:hover {
    background: rgba(148, 154, 199, 0.377);
   
}



header>.search {
    width: 15%;
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0rem 1.2rem;
    display: flex;
    justify-content: space-between;


}

header .user {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.transition>.search {
    width: 55%;
    height: 30%;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 2px 20px 2px;
    display: flex;
    justify-content: space-between;

}


.search>div {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.search div input::placeholder {

    font-size: 1.1em;
    color: #fff;
}

.search>div>input {

    width: 100%;
    height: 80%;
    outline: none;
    border: 0;
    background: #1b1b1b;
    color: rgb(255, 255, 255);

}

.search>div>i {
    color: #fff;
}

.search>div>i:active {
    color: rgb(177, 128, 206);

}


header .user div i {
    font-size: large;
    color: #fff;

}

header .user div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.transition {
    width: 100%;
    height: 15rem;
    background: #141414f8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.transition h2 {
    color: rgb(255, 255, 255);
}

.sbottom {
    width: 100%;
    height: 2vh;
    background: #181717f1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.banner {
    width: 100%;
    padding: 4rem 0rem 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner .content {
    max-width: 1000px;
    width: 80%;
    margin-top: 20px;
}

.banner .content>h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.banner .content>p {
    font-size: 1em;
    color: #333;
}

.banner .content>a {
    display: inline-block;
    background: #434978;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;

}

.banner .image {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.banner .image>img {
    padding: 2% 2%;
    max-width: 80%;

}



/*屏幕宽度小于991px,改变布局和样式*/
@media screen and (max-width:991px) {

    .banner .content h2 {
        font-size: 2em;
    }

    header .navigation {
        display: none;
    }

    header .search {
        width: 40%;
    }

    header .logo {
        width: 15%;
    }
    header>.navigation-simplify {
        display: flex;
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        justify-items: stretch;
        align-items: center;
    }
    
}

/*屏幕宽度小于600px,改变布局和样式*/
@media screen and (max-width:600px) {}
